
<div class="relative text-light px-[4%] mt-[2%]">
  <a [routerLink]="['/about-us']" class=" flex justify-between absolute top-0 left-0 w-[92%] h-full mx-[4%] px-4 z-10 transition-all text-light hover:text-lightHover">
    <div class="my-auto">
      <h1 class="text-xl md:text-3xl font-marko">A melhor seleção de chocolates</h1>
      <p class="font-marko w-full top-2/4 left-[5%] text-sm md:text-base">Saiba como nós fazemos nossos incríveis produtos</p>
    </div>
    <svg class="bi bi-arrow-right h-12 w-12 my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
  </a>
  <img class="mx-auto w-full h-32 rounded-lg object-cover brightness-50 hover:" src="./assets/products/banner1.png">
</div>

<section class="min-w-[100%] mb-[5%] mt-[2%] font-inter flex flex-col md:flex-row">
  <div class="gap-4 flex flex-col sticky right-0 md:top-32 bg-caramel text-light min-w-fit md:me-12 py-12 pe-12 ps-12 lg:ps-[10%]
  h-fit mb-8 md:mb-0">
    <h2 class="text-2xl font-extrabold header-fade-in">Filtrar</h2>

    <div class="flex flex-col">
      <label class="text-sm mb-2 w-fit text-fade-in" for="price">Por Preço</label>
      <div class="text-fade-in">
        <label class="my-auto font-medium">Até R$</label>
        <input id="price" class="bg-transparent w-16 border-b-2 border-light placeholder:text-lightHover placeholder:text-center" type="number"
               placeholder="todos" [(ngModel)]="priceFilter" (keydown)="ignoreInvalidNumberInput($event)" (change)="changeNumberFilter()">
      </div>
    </div>

    <div>
      <p class="text-sm mb-2 text-fade-in">Por Categoria</p>
      <div class="flex flex-col gap-1" *ngIf="!fetchingData; else categorySpinner">
        <div class="flex gap-2 text-fade-in" *ngFor="let category of categoryFilters" >
          <input [id]="category" [name]="category" class="accent-dark" type="checkbox" [checked]="!inactiveCategories.includes(category)" (change)="changeCategoryFilter(category)">
          <label [for]="category" class="font-medium">{{ category }}</label>
        </div>
      </div>
      <ng-template #categorySpinner>
        <div class="h-full w-full flex justify-center">
          <svg class="animate-spin mt-4 h-8 w-8 text-light" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="flex flex-col gap-4 text-dark w-full">
    <div class="my-auto" *ngIf="!fetchingData; else productsSpinner">
      <ng-container *ngIf="filteredCategoryProducts.length > 0; else empty">
        <div *ngFor="let category of filteredCategoryProducts">
          <p class="font-marko text-2xl px-12 mb-1 mt-2 header-fade-in">{{ category.name }}</p>
          <app-product-cards [productList]="category.products"></app-product-cards>
        </div>
      </ng-container>
      <ng-template #empty>
        <p class="text-center font-marko text-lg product-fade-in">Nenhum produto se encaixa na pesquisa</p>
      </ng-template>
    </div>
    <ng-template #productsSpinner>
      <div class="my-auto h-fit w-full flex justify-center">
        <svg class="animate-spin mt-4 h-32 w-32 text-dark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      </div>
    </ng-template>
  </div>
</section>

