<main class="font-inter">

  <section class="flex flex-col gap-6 mt-[10%] mb-[10%] min-w-full">
    <h1 class="mx-auto text-dark font-marko text-[10vmin] lg:text-8xl w-fit text-center quick-fade-in">
      Saboreie <br>
      momentos
    </h1>
    <p class="mx-auto text-dark w-3/5 md:w-1/3 text-center slow-static-fade-in">
      O encontro perfeito entre tradição artesanal e inovação tecnológica, nossos chocolates feitos com cacau de origem
      sustentável são uma verdadeira experiência do sabor da infância.
    </p>
    <button class="mx-auto bg-dark font-marko text-light py-2 px-8 rounded-3xl w-fit quick-static-fade-in">
      Delicie-se
    </button>
  </section>

  <section class="md:flex text-center md:text-start bg-dark text-light gap-12 py-12 px-12 lg:px-36">
    <div class="mx-auto flex flex-col w-2/3 md:w-1/2">
      <h2 class="font-marko text-2xl quick-fade-in">
        Um chocolate quente é como <br>
        o abraço da gente
      </h2>
    </div>

    <div class="mx-auto flex flex-col w-2/3 md:w-1/2 py-8">
      <div class="slow-fade-in">
        <p>
          Delicie-se com nosso <span class="font-bold">chocolate quente gourmet</span> e <span class="font-bold">café expresso</span>,
          uma experiência única de sabor e conforto.
          Selecionamos cuidadosamente os melhores grãos de cacau e café, criando uma mistura cativante que envolve os
          sentidos desde o primeiro gole. Combinando a riqueza do cacau com o toque suave do leite fresco e a suavidade do
          café com a seleção dos melhores grãos, cada xícara é única e perfeita para cada momento.
        </p>
        <p class="mt-6">
          Preparado com dedicação e paixão, nosso chocolate quente e o nosso café expresso é a escolha perfeita para
          aquecer
          corações em qualquer ocasião especial, trazendo o abraço caloroso das melhores lembranças.
        </p>
      </div>
      <button class="bg-light text-dark font-marko py-2 px-8 rounded-3xl w-fit mx-auto mt-6 quick-fade-in">
        Experimente
      </button>
    </div>
  </section>

  <section class="flex flex-col text-dark mt-[2%] mb-[2%]">
    <h2 class="text-2xl font-marko mx-auto">
      Selos de Qualidade
    </h2>

  </section>
</main>

