<main class="flex align-middle text-dark justify-center h-screen w-screen px-12">
  <div class="h-fit my-auto">
    <h1 class="font-marko text-4xl header-fade-in">Página não encontrada!</h1>
    <p class="font-inter my-2 text-fade-in">Certifique-se que a URL inserida é válida.</p>

    <a class="flex w-fit p-2 gap-2 header-fade-in relative before:transition-all before:ease-in-out before:bg-dark before:absolute before:bottom-0 before:w-[100%] before:-z-10
    before:h-0 hover:before:h-1.5" [routerLink]="['/home']">
      <svg class="bi bi-arrow-left h-6 w-6 my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
           fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      <p class="font-montserrat font-medium"> Início </p>
    </a>
  </div>
</main>
