<section class="text-dark font-inter px-12 lg:px-48">
  <h1 class="font-marko text-center mt-[10%] mb-[5%] text-[9vmin] lg:text-7xl header-fade-in">Historia e Sabores</h1>

  <div class="flex flex-col lg:flex-row gap-12">
    <div class="min-w-fit relative before:absolute before:bg-gradient-to-l before:from-light lg:before:h-full before:w-24 before:pointer-events-none
    before:right-6 md:before:right-0">
      <img class="w-full h-full lg:w-96 rounded-lg md:rounded-r-lg object-cover" src="./assets/about-us/b1.jpg">
    </div>
    <p class="my-auto text-fade-in">A jornada da Cooperativa DuCacau começou com um sonho audacioso, um desejo de unir tradição e
      inovação. Desde
      nossa fundação em 2023, nossa história tem sido uma tapeçaria de compromisso social, respeito à natureza e criação
      de sabores incomparáveis. A cada etapa dessa trajetória, nossos chocolates artesanais têm contado uma história de
      paixão e dedicação, resultando em sabores que transcendem o paladar e evocam emoções genuínas. E mais do que criar
      delícias, temos orgulho de apoiar comunidades locais, promovendo um ciclo virtuoso de crescimento.</p>
  </div>
</section>

<section class="text-dark font-inter px-12 lg:px-48 mb-[6%]">
  <h1 class="font-marko text-center mt-[10%] mb-[5%] text-[9vmin] lg:text-7xl header-fade-in">Cultivo Sustentável</h1>

  <div class="flex flex-col-reverse lg:flex-row gap-12">
    <p class="my-auto text-fade-in">Nosso cultivo é um ato de amor à terra e às gerações futuras. Com um compromisso inabalável com a
      sustentabilidade, cultivamos cacau e grãos de café de forma consciente e sem exploração, respeitando a natureza e
      não envolvendo matérias de origem animal. Através dessa abordagem ética, estabelecemos um novo padrão de trabalho,
      onde a valorização dos funcionários é tão importante quanto a colheita de frutos. Nossa visão é que o respeito ao
      meio ambiente e às pessoas se fundam em uma dança harmoniosa de prosperidade.</p>
    <div class="min-w-fit flex relative before:absolute before:bg-gradient-to-r before:from-light lg:before:h-full before:w-24 before:pointer-events-none
    before:left-6 md:before:left-0">
      <img class="w-full h-full lg:w-96 rounded-lg md:rounded-r-lg object-cover" src="./assets/about-us/b2.jpg">
    </div>
  </div>
</section>
