@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marko One";
  src: url("./assets/fonts/MarkoOne.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf") format("truetype");
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 100;
    transform: translateY(0%);
  }
}

.quick-fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}

.slow-fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes static-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.quick-static-fade-in {
  animation-name: static-fade-in;
  animation-duration: 1s;
}

.slow-static-fade-in {
  animation-name: static-fade-in;
  animation-duration: 2s;
}
