@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marko One";
  src: url("./assets/fonts/MarkoOne.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf") format("truetype");
}

@keyframes movement-fade-in {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 100;
    transform: translateY(0%);
  }
}



.header-fade-in {
  animation-name: movement-fade-in;
  animation-duration: 1s;
}

@keyframes static-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.text-fade-in {
  animation-name: static-fade-in;
  animation-duration: 2s;
}

@keyframes navbar-fade-in {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 100;
    transform: translateY(0%);
  }
}

.navbar-fade-in {
  animation: navbar-fade-in;
  animation-duration: 0.8s;
  animation-play-state: revert;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;

}

*::-webkit-scrollbar-thumb {
  background-color: #50251F;
  border-radius: 28px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3d1f1b;
}

